@import "tailwindcss";

:root {
  --background: #0f172a;
  /* Slate 900 */
  --foreground: #f8fafc;
  /* Slate 50 */
  --primary: #84cc16;
  /* Lime 500 */
  --primary-foreground: #0f172a;
  --card: #1e293b;
  /* Slate 800 */
  --card-foreground: #f8fafc;
  --muted: #334155;
  /* Slate 700 */
  --muted-foreground: #94a3b8;
  /* Slate 400 */
  --border: #334155;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card: var(--card);
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-marquee: marquee 15s linear infinite;
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(0.3);
  }

  50% {
    opacity: 1;
    transform: translateY(10px) scale(1.05);
  }

  70% {
    transform: translateY(-5px) scale(0.98);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}